{% extends "layouts/public.j2" %}

{% from "peptides/_protein_table.j2" import protein_table %}

{% block body %}
    <div id="peptide-view">
        <h1>Peptide: {{ peptide.sequence }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Attribute
                    </th>
                    <th>
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Sequence
                    </th>
                    <td class="text-break">
                        <CodeBlock :code="'{{ peptide.sequence }}'" :identifier="'protein-sequence'" :line_length="60"></CodeBlock>
                    </td>
                </tr>
                <tr>
                    <th>
                        Theoretical mass
                    </th>
                    <td>
                        {{ mass_to_float(peptide.weight) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Length
                    </th>
                    <td>
                        {{ peptide.length }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Missed cleavages
                    </th>
                    <td>
                        {{ peptide.number_of_missed_cleavages }}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Reviewed proteins (SwissProt)</h2>
        {{ protein_table(reviewed_proteins, taxonomies) }}

        <h2>Unreviewed proteins (TrEMBL)</h2>
        {{ protein_table(unreviewed_proteins, taxonomies) }}
    </div>
{% endblock %}